:root {
  --primary-color: #4089f1;
  --search-color: #7c2af8cc;
  --white: #fdfdfd;
  --black: #111;
}

* {
  box-sizing: border-box;
  transition: all 0.3s;
  margin: 0;
  color: var(--black);
}

body {
  height: 100vh;
  margin: 0;
  padding: 1rem;
  background-color: var(--primary-color);
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Montserrat";
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--white);
  text-shadow: 2px 2px 2px #009696cc;
}

.card-list {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 15rem;
  background-color: var(--search-color);
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
  line-height: 1.5rem;
  box-shadow: 2px 2px 4px #00000055;
}

.card img {
  display: block;
  margin: auto;
  cursor: pointer;
}

.card img:hover {
  filter: drop-shadow(5px 5px 4px aquamarine);
  transform: scale(1.05);
}

.card h2 {
  margin-top: 0.5rem;
  color: var(--primary-color);
}

.card p {
  color: var(--primary-color);
}

.p2 {
  padding: 1.5rem;
}

input[type="search"] {
  display: block;
  margin: auto;
  padding: 0.2rem 0;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  outline: 0;
  border: 0;
  border-bottom: 2px solid var(--search-color);
  color: var(--search-color);
  background-color: transparent;
  font-family: "Roboto";
  font-weight: 600;
}

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}

input[type="search"]:focus {
  border-color: #5a08d6;
  color: #5a08d6;
}
