* {
  box-sizing: border-box;
  transition: all 0.3s;
  margin: 0;
}

body {
  height: 100vh;
  margin: 0;
  padding: 1rem;
  background-color: #fdfdfd;
  font-family: "Roboto", sans-serif;
}

.card-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, 15rem);
}

.card {
  width: 100%;
  /* border: 1px solid blue; */
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
  line-height: 1.5rem;
  box-shadow: 2px 2px 4px rgba(200, 200, 200, 0.8);
}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.card img:hover {
  filter: drop-shadow(5px 5px 4px aquamarine);
  transform: scale(1.05);
}

.card h2 {
  margin-top: 0.5rem;
  /* background-color: ; */
}
